.contact-form-wrapper {
  background: #fff;
  padding: 40px 20px;
  border-radius:12px;
}
.contact-form-wrapper h1 {
  margin: 0 0 10px;
}
#contactForm {
  max-width: 640px;
  margin: 0 auto;
  color: #777;
}
